body {
    font-family: 'Roboto', sans-serif;
    margin: 40px;
    background-color: #EAEDED;
}
a {
    color: #3498DB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section {
    border: 1px solid #BDC3C7;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.section h3 {
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0966d1d8; /* Neutral shade for headers */
    color: #EAEDED;
    border-radius: 5px;
    transition: background-color 0.5s;
    margin: 0 -20px; /* extend background to full section width */
}

.section h3:before {
    content: "\25BA";
    margin-right: 10px;
    font-size: 0.8em;
    vertical-align: middle;
}

.section h3.active:before {
    content: "\25BC";
}
h5 {
    font-size: 18px;
    margin-top: 20px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.content-subsection {
    margin-top: 20px;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.content.active {
    max-height: 100%;
    padding: 20px;
}

.info p {
    background: #ECF0F1;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}
.info-title {
    font-weight: bold;
    color: #34495E;
    background-color: #ECF0F1;
    width: 25%;  /* Adjust as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    padding: 12px 25px;
    border: 1px solid #BDC3C7;
}

th {
    background-color: #a4c2e4;
    color: #020000;
    font-weight: 600;
}
tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #EAEDED;
}

.matrix-img {
    width: 100%;
    max-width: 600px; /* or any other max-width that suits */
    margin: 20px 0;
    border: 1px solid #BDC3C7;
}

.buttons-container {
    margin-top: 20px;
}

button {
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #3498DB;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980B9;
}


.help-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

.help-tooltip {
    display: none;
    width: 200px;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0.9;
}

.help-container:hover .help-tooltip {
    display: block;
}