/rep/tmp/

/doc/latex/
/doc/references/
/doc/Aeneas_HDC_weekly updates.pptx
/doc/theory/
/doc/Basic_concepts_HDC.pptx
/node_modules/
/.ipynb_checkpoints/

/main/__pycache__/
/src/config/__pycache__/
/package.json
/jupyter_log.txt
/package-lock.json
